<!--

=========================================================
* Now UI Dashboard - v1.5.0
=========================================================

* Product Page: https://www.creative-tim.com/product/now-ui-dashboard
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Designed by www.invisionapp.com Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en" id="perfect-scrollbar-on" class="perfect-scrollbar-on">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href=<%=themeConfig.imageFavicon%>>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    <%=themeConfig.information.websiteTitle%>
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
    <%-include('partials/head.ejs')%>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./src/css/theme.css" id="theme" rel="stylesheet">
  <link href="./src/css/darkreader.css" id="theme" rel="stylesheet">
<style>
   h4 {
      margin-top: 0px !important;
   }
</style>
<style>
   .panel-header {
      background: <%-themeConfig.information.pagestylebg%> !important;
   }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <%-include('partials/css.ejs')%>
</head>

<body class="">
   <%-include('partials/body.ejs')%>
  <div class="wrapper ">
<!-- Side Bar-->
<%-include('partials/sidebar.ejs', {now:'manage'})%>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <%-include('partials/navbar.ejs', {now:'manage'})%>
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"><%-themeConfig.guildSettings.cardTitle%></h4>
                <p class="category"><%-themeConfig.guildSettings.cardDescription%></p>
              </div>
              <div class="card-body">
                <div class="table-responsive no-wrap">
                  <nav>
                     <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <%
                           let i22 = 0;
                           settings.forEach(s=>{
                           i22++;%>
                        <a class="nav-item nav-link<%if(i22==1){%> active<%}%>" id="<%=s.categoryId%>-tab" data-toggle="tab" href="#<%=s.categoryId%>" role="tab" aria-controls="<%=s.categoryId%>" aria-selected="true"><%=s.categoryName%></a>
                        <%})
                           %>
                     </div>
                  </nav>
                  <%if(req.query.success){%>
                  <script>
                     window.onload = function () {
                        const Toast = Swal.mixin({
                           toast: true,
                           position: 'top-end',
                           showConfirmButton: false,
                           timer: 3000,
                           timerProgressBar: true,
                           didOpen: (toast) => {
                              toast.addEventListener('mouseenter', Swal.stopTimer)
                              toast.addEventListener('mouseleave', Swal.resumeTimer)
                           },
                           showClass: {
                              popup: 'animate__animated animate__fadeInDown'
                           },
                           hideClass: {
                              popup: 'animate__animated animate__fadeOutUp'
                           }
                        })

                        Toast.fire({
                           icon: 'success',
                           title: '<% if(themeConfig.errorMsg){%><%-themeConfig.errorMsg.savedSettings%><% } else{ %>Saved settings<% } %>'
                        })
                     };
                  </script>
                  <%}%>
                  <div class="tab-content" id="nav-tabContent">
                     <%
                        let i222 = 0;
                        settings.forEach(s=>{
                        i222++;%>
                     <div class="tab-pane fade<%if(i222==1){%> show active<%}%>" id="<%=s.categoryId%>" role="tabpanel" aria-labelledby="<%=s.categoryId%>-tab">
                        <form method="POST" action="/settings/update/<%=req.params.id%>/<%=s.categoryId%>">
                           <%
                              s.categoryOptionsList.forEach(option=>{%>
                           <%
                              if(option.optionType.type == "select"){%>
                           <h4 style="margin-top: 30px;"><%-option.optionName%></h4>
                           <%=option.optionDescription%><br>
                           <select class="col-md-12" <%if(option.optionType.disabled){%>disabled<%}%> name="<%=option.optionId%>" class="col-md-12" style="height:30px;">
                              <%
                                 let ioo = 0;
                                   option.optionType.data.values.forEach(value=>{%>
                              <option value="<%=value%>" <%if(actual[s.categoryId][option.optionId] == value){%>selected<%}%>><%=option.optionType.data.keys[ioo]%></option>
                              <%
                                 ioo++;
                                 })%>
                           </select>
                           <%}else if(option.optionType.type == "input"){
                              %>
                            <br><hr>
                           <h4><%-option.optionName%></h4>
                           <%=option.optionDescription%><br>
                           <input style="border:none;height:30px;" class="col-md-12" name="<%=option.optionId%>" <%if(option.optionType.required){%>required<%}%> <%if(option.optionType.disabled){%>disabled<%}%> placeholder="<%=option.optionType.data%>" <%if(actual[s.categoryId][option.optionId]){%>value="<%=actual[s.categoryId][option.optionId]%>"<%}%> <%if(option.optionType.min){%>minlength="<%=option.optionType.min%>"<%}%> <%if(option.optionType.max){%>maxlength="<%=option.optionType.max%>"<%}%>/>
                           <%} else if(option.optionType.type == "textarea"){%>
                            <br><hr>
                           <h4><%-option.optionName%></h4>
                           <%=option.optionDescription%><br>
                           <textarea name="<%=option.optionId%>" <%if(option.optionType.required){%>required<%}%> <%if(option.optionType.disabled){%>disabled<%}%> placeholder="<%=option.optionType.data%>" <%if(actual[s.categoryId][option.optionId]){%>value="<%=actual[s.categoryId][option.optionId]%>"<%}%> <%if(option.optionType.min){%>minlength="<%=option.optionType.min%>"<%}%> <%if(option.optionType.max){%>maxlength="<%=option.optionType.max%>"<%}%> rows="4" class="col-md-12"><%if(actual[s.categoryId][option.optionId]){%><%=actual[s.categoryId][option.optionId]%><%}%></textarea>
                           <%}else if(option.optionType.type == "switch"){%>
                            <br><hr>
                           <h4><%-option.optionName%></h4>
                           <%=option.optionDescription%><br>
                           <div class="primary-checkbox " style="align-items: center;">
                              <%if(actual[s.categoryId][option.optionId] == null || actual[s.categoryId][option.optionId] == undefined){%>
                              <%if(option.optionType.data == false && !option.optionType.disabled){%>
                              <input type="checkbox" id="ffff" name="<%=option.optionId%>" />
                              <%} else if(option.optionType.data == true && !option.optionType.disabled){%>
                              <input type="checkbox" id="ffff" name="<%=option.optionId%>" checked />
                              <%} else if(option.optionType.data == true && option.optionType.disabled){%>
                              <input type="checkbox" id="ffff" checked disabled />
                              <%} else if(option.optionType.data == false && option.optionType.disabled){%>
                              <input type="checkbox" id="ffff" disabled />
                              <%}%>
                              <%}else{%>
                              <%if(actual[s.categoryId][option.optionId] == false && !option.optionType.disabled){%>
                              <input type="checkbox" id="ffff" name="<%=option.optionId%>" />
                              <%} else if(actual[s.categoryId][option.optionId] == true && !option.optionType.disabled){%>
                              <input type="checkbox" id="ffff" name="<%=option.optionId%>" checked />
                              <%} else if(actual[s.categoryId][option.optionId] == true && option.optionType.disabled){%>
                              <input type="checkbox" id="ffff" checked disabled />
                              <%} else if(actual[s.categoryId][option.optionId] == false && option.optionType.disabled){%>
                              <input type="checkbox" id="ffff" disabled />
                              <%}%>
                              <%}%>
                              <label class="form-check-label" for="ffff" style="padding-left: 0 !important;top:13px;left:3px;background-color: rgb(199, 199, 199);">
                              </label>
                           </div>
                           <%}else if(option.optionType.type == "channelsSelect"){%>
                            <br><hr>
                           <h4><%-option.optionName%></h4>
                           <%=option.optionDescription%><br>
                           <select <%if(option.optionType.disabled){%>disabled<%}%> name="<%=option.optionId%>" class="col-md-12" style="height:30px;">
                              <%
                                 let ioooooo = 0;
                                 let functiona = option.optionType.function(bot, guildid);
                                 functiona.values.forEach(value=>{%>
                              <option value="<%=value%>" <%if(actual[s.categoryId][option.optionId] == value){%>selected<%}%>><%=functiona.keys[ioooooo]%></option>
                              <%
                                 ioooooo++;
                                 })%>
                           </select>
                           <%}else if(option.optionType.type =="rolesSelect"){%>
                            <br><hr>
                           <h4><%-option.optionName%></h4>
                           <%=option.optionDescription%><br>
                           <select <%if(option.optionType.disabled){%>disabled<%}%> name="<%=option.optionId%>" class="col-md-12" style="height:30px;">
                              <%
                                 let iooooooo = 0;
                                 let functiona = option.optionType.function(bot, guildid);
                                 functiona.values.forEach(value=>{%>
                              <option value="<%=value%>" <%if(actual[s.categoryId][option.optionId] == value){%>selected<%}%>><%=functiona.keys[iooooooo]%></option>
                              <%
                                 iooooooo++;
                                 })%>
                           </select>
                           <%}else if(option.optionType.type =="colorSelect"){%>
                            <br><hr>
                              <h4><%-option.optionName%></h4>
                              <%=option.optionDescription%><br>
                              <input type="color" id="<%=option.optionId%>" name="<%=option.optionId%>"
                              value="<%=actual[s.categoryId][option.optionId] || option.optionType.data || "#ffffff"%>" <%if(option.optionType.disabled){%>disabled<%}%>>
                            <%}%>
                           <%})
                              %>
                           <br><br>
                           <button style="background-color: #2CA8FF; border-radius: 20px;" class="btn btn-primary" type="submit">Submit</button>
                        </form>
                     </div>
                     <%})
                        %>
                  </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%-include('partials/footer.ejs', {now:'manage'})%>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script>function myFunction() {
    var element = document.getElementById("perfect-scrollbar-on");
    element.classList.toggle("nav-open");
 }</script>
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script src="assets/node_modules/jquery/jquery.min.js"></script>
  <script src="assets/node_modules/bootstrap/js/popper.min.js"></script>
  <script src="assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/perfect-scrollbar.jquery.min.js"></script>
  <script src="js/waves.js"></script>
  <script src="js/sidebarmenu.js"></script>
  <script src="js/custom.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js"></script>
  <script>
     function removeAllChildNodes(parent) {
         for(let i in [0,1,2,3]){
             parent.removeChild(parent.firstChild);
         }
     }
     const container = document.getElementById('removeDiv');
     removeAllChildNodes(container);
  </script>
</body>

</html>